<html>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <head>
    <title>The game of Drones</title>
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/libs/bootstrap.min.css" rel="stylesheet">
    <script src="javascripts/libs/angular.min.js"></script>
    <script src="javascripts/libs/angular-ui-router.min.js"></script>
    <script src="javascripts/libs/underscore-min.js"></script>
    <script src="javascripts/angularApp.js"></script>
    <script src="javascripts/factories/authFactory.js"></script>
    <script src="javascripts/factories/playersFactory.js"></script>
    <script src="javascripts/factories/gameFactory.js"></script>
    <script src="javascripts/controllers/mainCtrl.js"></script>
    <script src="javascripts/controllers/authCtrl.js"></script>
    <script src="javascripts/controllers/navCtrl.js"></script>
    <script src="javascripts/controllers/gameCtrl.js"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>
  <body ng-app="gameOfDrones">
    <nav class="navbar navbar-default" ng-controller="NavCtrl">
      <ul class="nav navbar-nav pull-right">
        <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      </ul>
    </nav>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>
  </body>
</html>
