<div class="page-header">
  <h1>The game of Drones</h1>
</div>

<div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can play The game of drones.</h3>
</div>

<div class="row" ng-show="isLoggedIn()">
  <div class="col-md-6" style="border:1px solid #eee;border-radius:8px;">
    <h3>Round {{ Game.moves.length + 1}}</h3>
    <h3 class="move-player1" ng-hide="lastMove.player1"> {{Game.Player1.username | uppercase}}</h3>
    <h3 class="move-player2" ng-show="lastMove.player1"> {{Game.Player2.username | uppercase}}</h3>
    <form ng-submit="Attack()" style="margin-top:30px;">
      <div class="form-group">
        <label for="movementSelect">Select move</label>
      <select class="form-control" ng-options="item as item.name for item in Game.options" ng-model="selected"></select>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Attack</button>
    </div>
  </form>
</div>
<div class="col-md-6" style="border:1px solid #eee;border-radius:8px;">
  <h2>Score</h2>
  <div ng-repeat="move in Game.moves track by $index">
    <span style="font-size:20px;margin-left:10px">
      <span ng-hide="post.link">
        {{$index + 1}} - {{ move.player1.name }} vs {{ move.player2.name }}  -
      </span>
      <span ng-show="move.winner" style="color:#3c763d;">
        {{move.winner.username}} wins
      </span>
      <span ng-hide="move.winner">
        Tie
      </span>
    </span>
  </div>
</div>
</div>
